<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文件详情</title>
</head>
<body>
<h1>文件详情</h1>
<table>
    <tr>
        <th>文件编号</th>
        <th>文件名称</th>
        <th>上传日期</th>
    </tr>
    <tr th:each="product,iterStat :${list}">
        <td th:text="${product.pid}"></td>
        <td th:text="${product.fileName}"></td>
        <td th:text="${product.uploadDate}"></td>
        <td><a href="#">删除</a></td>
    </tr>
</table>
</body>
</html>